main {
    display: flex;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
h1 {
    width: 100%;
    text-align: center;
}
#videoArea {
    float: left;
    margin-right: 10px;
    padding: 10px;
    border:1px solid #cccccc;
    background-color: #eeeeee;
}

input[type="range"]{
    width: 600px;
}

canvas {
    border: thin solid #000000;
}
